@import url('https://fonts.googleapis.com/css?family=Asap|Lato:100,400|Open+Sans|Roboto:100,400|Indie+Flower');

/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/* 
   Page
   ========================================================================== */

$feature-image-height            : 200px; // min 150px recommended
$front-page-feature-image-height : 200px; // min 150px recommended
$front-page-feature-image-height-max : 500px; // 

/* 
   Typography
   ========================================================================== */

$base-font                       : 'Roboto', Calibri, Arial, sans-serif;
$motto-font                      : 'Indie Flower', cursive;
$heading-font                    : 'Lato';
$Post-Title-Font                 : $base-font;
$caption-font                    : $base-font;
$code-font                       : monospace;
$alt-font                        : serif;

//font-family: 'Asap', sans-serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Roboto', sans-serif;
//font-family: 'Lato', sans-serif;

$doc-font-size                   : 16;
$doc-line-height                 : 24;


/* 
   Colors
   ========================================================================== */

$base-color                      : rgba(#000,0.8);
$body-color                      : #FAFAF8; //#e8e8e8; - 1D1E19
$post-color                      : #fff; //#e8e8e8; - 272822
$text-color                      : #432f21;//rgba(#222,0.8);
$comp-color                      : complement(#222);
$border-color                    : lighten($base-color,60);
$link-color                      : #1D150D;//#F92672;//rgba//(#222,0.8);

$gradient : 133.50745575554242deg, rgba(250, 200, 205,0.2) 6.146322378716745%,rgba(248, 193, 105,0.7) 95.50469483568074%;

$primary                         : #222;
$success                         : #5cb85c;
$warning                         : #dd8338;
$danger                          : #C64537;
$info                            : #308cbc;

$nav-color                       : #fff;
$nav-bar-color                       : rgb(81, 120, 139);
/* 
   Screen sizes
   ========================================================================== */

$small                           : "only screen and (min-width: 30em)";
$medium                          : "only screen and (min-width: 48em)";
$large                           : "only screen and (min-width: 62.5em)";
